* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--blanco);
}

:root {
  --negro: #333;
  --blanco: #eee;
}

.App {
  width: 100vw;
  height: 100vh;
  background-image: url('../src/assets/Clear.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App h1 {
  color: rgb(117, 12, 114);
  margin-bottom: 0.5rem;
  font-family: 'Rubik Moonrocks', cursive;
  font-size: 3rem;
  border-radius: 10%;

 
}




.weather-card {
  border: 2px solid var(--blanco);
  width: 25rem;
  height: 50rem;
  border-radius: .5rem;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(88, 22, 155, 0.75);
}

.city{
  font-size:50px;
  font-family: 'Nunito', sans-serif;
}

.info-temperature {
  display: flex;
  align-items: center;
}

.info-temperature .container-img {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.info-temperature .container-degrees {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.info-temperature .container-degrees .btn-change {
  margin-top: .5rem;
  width: 6rem;
  background-color: orange;
  color: var(--negro);
  border: 1px solid var(--negro);
  padding: .25rem 0;
  border-radius: .25rem;
  cursor: pointer;
}
.btn-change{
  
  background-color: orange;
  color: var(--negro);
 
}
h2{
  font-family: 'Mr Dafoe', cursive;
  font-weight: 300;
  letter-spacing: 1px;
}
.aditional-info {
  display: flex;
  grid-gap: 5px;


}

.container-main, .container-humidity, .container-wind {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: rgba(255, 255, 255, 0.172) solid;
  border-radius:15% ;
  padding: 7% 5% 7% 5%;
  background-color: rgba(10, 10, 10, 0.494);
  width: 18.5vh;
  height: 20vh;
}
.container-sky{
  text-align: end;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: bold;
}
.temperature {
  font-size: 4rem;
}

.icon-weather {
  height: 10rem;
}

@media (max-width: 410px) {
  .weather-card {
    border: 2px solid var(--blanco);
    width: 90%;
    height: 90%;
    border-radius: .5rem;
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(88, 22, 155, 0.75);
  }
  .container-main, .container-humidity, .container-wind {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: rgba(255, 255, 255, 0.172) solid;
    border-radius:15% ;
    padding: 7% 5% 7% 5%;
    background-color: rgba(10, 10, 10, 0.494);
    width: 14.5vh;
    height: 16vh;
  }
  .aditional-info {
    display: flex;
    grid-gap: 8px;
    justify-content: center;
  
  }
}